{{ ansible_managed | comment }}

ZSH_CUSTOM="{{ zsh_oh_my_zsh_custom }}"

export ZSH="{{ zsh_oh_my_zsh_path }}"
ZSH_THEME="saf"
VI_MODE_RESET_PROMPT_ON_MODE_CHANGE=true
VI_MODE_SET_CURSOR=true
plugins=(git timer shrink-path vi-mode zsh-kubectl-prompt)

source $ZSH/oh-my-zsh.sh
