{{ ansible_managed | comment }}

alias gst "git status"
alias gp "git push"

alias gc "git commit"
alias gc! " it commit --verbose --amend"
alias gcmsg "git commit --message"
alias gpsup "git push --set-upstream origin $(vcs.branch)"
