{{ ansible_managed | comment }}


alias gc "git commit"
alias gc! "git commit --verbose --amend"
alias gcmsg "git commit --message"

alias gst "git status"
alias gd "git diff"
alias gp "git push"
alias gpsup "git push --set-upstream origin $(vcs-branch)"
