{{ ansible_managed | comment }}

assign [class="Cromium"] workspace $workspace_www
assign [app_id="telegramdesktop"] workspace $workspace_messenger
assign [instance="microsoft teams*"] workspace $workspace_messenger
assign [instance="skype"] workspace $workspace_messenger

for_window [class="Cromium"] inhibit_idle fullscreen

exec chromium --disable-gpu --disable-software-rasterizer
exec teams
exec skypeforlinux
exec telegram-desktop
exec swayidle -w \
  timeout 300 'swaylock -f -c 000000' \
  timeout 600 'swaymsg "output * dpms off"' resume 'swaymsg "output * dpms on"' \
  before-sleep 'swaylock -f -c 000000'
exec mako
