{{ ansible_managed | comment }}

include {{ wm_sway_config_dir }}/vars

include {{ wm_sway_config_dir }}/style

include {{ wm_sway_config_dir }}/io

include {{ wm_sway_config_dir }}/keys

include {{ wm_sway_config_dir }}/autostart


### Status Bar:
# Read `man 5 sway-bar` for more information about this section.
bar {
    swaybar_command waybar
}

include /etc/sway/config.d/*
