{{ ansible_managed | comment }}

[user]
    name = Heorhi Sakovich
    email = {{ git_user_email }}
    signingkey = {{ git_user_signingkey }}

[gpg]
    format = ssh

[commit]
    gpgsign = true

[push]
    default = simple
    autoSetupRemote = true

[pager]
    branch = false

[pull]
    rebase = true

[merge]
    tool = nvimdiff
    conflictStyle = merge

[mergetool]
    prompt = true

[mergetool "nvimdiff"]
    cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'

[diff]
    tool = nvimdiff

[difftool]
    prompt = false

[difftool "nvimdiff"]
    cmd = nvim -d $BASE $LOCAL

[status]
    submoduleSummary = true

[url "git@github.com:"]
    insteadOf = https://github.com/
