{{ ansible_managed | comment }}

[Login]
HandlePowerKey=suspend
HandleLidSwitch=lock
HandleLidSwitchExternalPower=lock
HandleLidSwitchDocked=lock
PowerKeyIgnoreInhibited=yes
LidSwitchIgnoreInhibited=yes
HoldoffTimeoutSec=1s
IdleAction=ignore
IdleActionSec=30min
