{{ ansible_managed | comment(beginning='/*', end='*/') }}

@define-color bg #2E3440;
@define-color light #D8DEE9;
@define-color warning #ebcb8b;
@define-color critical #BF616A;
@define-color workspacesfocused #4C566A;
@define-color tray @workspacesfocused;
@define-color nord_bg #434C5E;
@define-color nord_bg_blue #546484;
@define-color nord_light #D8DEE9;
@define-color nord_light_font #D8DEE9;
@define-color nord_dark_font #434C5E;

@keyframes blink-warning {
    70% {
        color: @light;
    }

    to {
        color: @light;
        background-color: @warning;
    }
}

@keyframes blink-critical {
    70% {
      color: @light;
    }

    to {
        color: @light;
        background-color: @critical;
    }
}


/* Reset all styles */
* {
    border: none;
    border-radius: 3px;
    min-height: 0;
    margin: 0.2em 0.3em 0.2em 0.3em;
}

/* The whole bar */
#waybar {
    background: @bg;
    color: @light;
    font-family: "Cantarell", "Font Awesome 5 Pro";
    font-size: 12px;
    font-weight: bold;
}

/* Each module */
#battery,
#clock,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#language {
    padding-left: 0.6em;
    padding-right: 0.6em;
    background: @nord_bg_blue;
    color: @nord_light_font;
    transition: 0.3s;
}

/* clickable stuff */
#pulseaudio:hover,
#network:hover,
#clock:hover,
#power:hover {
    background: #88c0d0;
}

/* Each module that should blink */
#memory,
#temperature,
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
    color: @critical;
}

/* Each critical that should blink */
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
    background: @warning;
    color: @nord_dark_font;
}

/* Each warning that should blink */
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#workspaces button {
    font-weight: bold; /* Somewhy the bar-wide setting is ignored*/
    padding: 0;
    opacity: 0.3;
    background: none;
    font-size: 1em;
}

#workspaces button.focused {
    background: @workspacesfocused;
    color: #D8DEE9;
    opacity: 1;
    padding: 0 0.4em;
}

#workspaces button.urgent {
    border-color: #c9545d;
    color: #c9545d;
    opacity: 1;
}

#window {
    margin-right: 40px;
    margin-left: 40px;
    font-weight: normal;
}

#cpu.critical {
    color: @nord_dark_font;
}

#temperature.critical {
    background:  @critical;
}

#clock {
    background: @nord_bg_blue;
    color: #D8DEE9;
}

#clock.date {
    background: @nord_bg;
}

#clock.time {
    background: @mode;
}

#pulseaudio.muted {
    background: #BF616A;
    color: #BF616A;
    /* No styles */
}

#pulseaudio.source-muted {
    background: #D08770;
    color: #D8DEE9;
    /* No styles */
}

#tray {
    background: @nord_bg;
}

/* workarounds */
#cpu,
#battery,
#power {
  padding-right: 1.0em;
}
