{{ ansible_managed | comment(beginning='/*', end='*/') }}

@define-color bg rgba(46, 52, 64, 0.4);
@define-color light #D8DEE9;
@define-color warning #ebcb8b;
@define-color critical #BF616A;
@define-color nord_bg #434C5E;
@define-color nord_bg_light_blue #88c0d0;
@define-color nord_bg_blue #546484;
@define-color nord_light_font @light;
@define-color nord_dark_font #434C5E;

@keyframes blink-warning {
    70% {
        color: @light;
    }

    to {
        color: @light;
        background-color: @warning;
    }
}

@keyframes blink-critical {
    70% {
      color: @light;
    }

    to {
        color: @light;
        background-color: @critical;
    }
}


/* Reset all styles */
* {
    border: none;
    border-radius: 3px;
    min-height: 0;
    margin: 0.2em 0.3em 0.2em 0.3em;
}

/* The whole bar */
#waybar {
    background: @bg;
    color: @light;
    font-family: FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 12px;
    font-weight: bold;
}

/* Each module */
#battery,
#clock,
#cpu,
#memory,
#disk,
#network,
#pulseaudio,
#temperature,
#tray,
#backlight,
#language,
#workspaces,
#custom-power,
#power-profiles-daemon {
    padding-left: 0.6em;
    padding-right: 0.6em;
    background: @nord_bg_blue;
    color: @nord_light_font;
    transition: 0.3s;
}

/* clickable stuff */
#pulseaudio:hover,
#network:hover,
#clock:hover,
#custom-power:hover,
#power-profiles-daemon:hover {
    background: @nord_bg_light_blue;
    color: @nord_dark_font;
}

/* Each module that should blink */
#memory,
#temperature,
#battery {
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-direction: alternate;
}

/* Each critical module */
#memory.critical,
#cpu.critical,
#temperature.critical,
#battery.critical {
    color: @critical;
}

/* Each critical that should blink */
#memory.critical,
#temperature.critical,
#battery.critical.discharging {
    animation-name: blink-critical;
    animation-duration: 2s;
}

/* Each warning */
#network.disconnected,
#memory.warning,
#cpu.warning,
#temperature.warning,
#battery.warning {
    background: @warning;
    color: @nord_dark_font;
}

/* Each warning that should blink */
#battery.warning.discharging {
    animation-name: blink-warning;
    animation-duration: 3s;
}

#workspaces button {
    font-weight: bold; /* Somewhy the bar-wide setting is ignored*/
    padding: 0;
    padding-right: 0.5em;
    font-size: 1em;
    color: @nord_light_font;
}

#workspaces button.visible {
    background: @nord_bg_light_blue;
    color: @nord_dark_font;
}

#workspaces button.urgent {
    border-color: @critical;
    color: @critical;
    opacity: 1;
}

#window {
    margin-right: 40px;
    margin-left: 40px;
    font-weight: normal;
}

#cpu.critical {
    color: @nord_dark_font;
}

#temperature.critical {
    background:  @critical;
}

#clock {
    background: @nord_bg_blue;
    color: @nord_light_font;
}

#clock.date {
    background: @nord_bg;
}

#clock.time {
    background: @mode;
}

#tray {
    background: @nord_bg;
}

/* workarounds */
#cpu,
#battery,
#custom-power,
#power-profiles-daemon,
#pulseaudio {
  padding-right: 1.0em;
}
