{{ ansible_managed | comment }}

# don't wait escape-key
set -s escape-time 0

# start windows ndexing is 1
set -g base-index 1
set-window-option -g pane-base-index 1

set-option -g default-shell "/bin/zsh"

# vi behavior
set-window-option -g mode-keys vi

# binds
unbind C-b
set -g prefix C-g
bind C-g send-prefix
bind-key h select-pane -L
bind-key j select-pane -D
bind-key k select-pane -U
bind-key l select-pane -R
bind-key r source-file {{ tmux_config_path }} \; display-message "updated"
bind-key -T copy-mode-vi 'v' send -X begin-selection
bind-key -T copy-mode-vi 'r' send -X rectangle-toggle

# force to use 256-colors
set -g default-terminal "xterm-256color"
set -ga terminal-overrides ",xterm-256color:Tc"

# plugins
set -g @plugin 'tmux-plugins/tpm'
set -g @plugin 'arcticicestudio/nord-tmux'

set -g @plugin 'tmux-plugins/tmux-yank'
set -g @yank_selection 'primary'

set -g @plugin 'tmux-plugins/tmux-resurrect'
set -g @plugin 'tmux-plugins/tmux-continuum'
set -g @continuum-boot 'on'
set -g @continuum-restore 'on'
set -g @resurrect-strategy-nvim 'session'
set -g @resurrect-capture-pane-contents 'on'
set -g @continuum-restore 'on'


run '{{ tmux_plugins_dir }}/tpm/tpm'

# override nord plugin defaults
set -g status-right "#{prefix_highlight}#[fg=brightblack,bg=black,nobold,noitalics,nounderscore]#[fg=white,bg=brightblack] #(gitmux -cfg {{ tmux_gitmux_config_path }} '#{pane_current_path}') "
