{{ ansible_managed | comment }}

{ config, pkgs, lib, ... }:

{
  services.xserver = {
    enable = true;

    displayManager = {
      startx.enable = true;
    };

    windowManager = {
      dwm = {
        enable = true;
        package = pkgs.dwm.overrideAttrs {
          src = {{ playbook_dir }}/files/dwm-flexipatch;
        };
      };
    };
  };
}
