{{ ansible_managed | comment }}

# here live installed packages and their configurations

{ config, pkgs, ... }:

let
  unstable = import
    (builtins.fetchTarball https://github.com/nixos/nixpkgs/tarball/nixos-unstable)
    { config = config.nixpkgs.config; };
in
{
  nixpkgs.config.allowUnfree = true;

  environment.systemPackages = with pkgs; [
    # development
    unstable.moon
    pkgs.gcc
    pkgs.gnumake
    pkgs.nodejs_22
    pkgs.jdk22
    pkgs.python3
    pkgs.go
    pkgs.terraform
    pkgs.terraform-docs
    pkgs.terragrunt
    pkgs.awscli2
    pkgs.ansible
    pkgs.git
    pkgs.neovim
    pkgs.tmux
    pkgs.gitmux
    pkgs.pre-commit
    pkgs.packer
    # window manager
    pkgs.hyprland
    pkgs.hyprlock
    pkgs.hypridle
    pkgs.wlogout
    pkgs.wl-clipboard
    pkgs.waybar
    pkgs.tofi
    pkgs.brightnessctl
    # web
    pkgs.google-chrome
    pkgs.firefox
    pkgs.deluge
    # containers
    pkgs.docker_27
    pkgs.docker-buildx
    pkgs.docker-compose
    pkgs.kubectl
    pkgs.kubernetes-helm
    pkgs.kustomize
    # tools
    pkgs.wireguard-tools
    pkgs.sudo-rs
    pkgs.acpi
    pkgs.pavucontrol
    pkgs.curl
    pkgs.dig
    pkgs.jq
    pkgs.ripgrep
    pkgs.openssh
    pkgs.fish
    pkgs.alacritty
    pkgs.zip
    pkgs.unzip
    pkgs.htop
    pkgs.tree
    pkgs.file
  ];

  fonts.packages = with pkgs; [
    pkgs.font-awesome
    pkgs.nerdfonts
  ];

  security.sudo-rs = {
    enable = true;
    wheelNeedsPassword = false;
    execWheelOnly = true;
  };

  programs.fish.enable = true;
  programs.hyprland.enable = true;
  programs.firefox.enable = true;

  services.power-profiles-daemon.enable = true;
  services.openssh.enable = true;
  virtualisation.docker.enable = true;

  services.displayManager.sddm.enable = true;
  services.displayManager.sddm.wayland.enable = true;
  services.desktopManager.plasma6.enable = false;
}
