{{ ansible_managed | comment }}

# here live installed packages and their configurations

{ config, pkgs, ... }:

{
  nixpkgs.config.allowUnfree = true;

  environment.systemPackages = with pkgs; [
    pkgs.hyprland
    pkgs.hyprlock
    pkgs.wlogout
    pkgs.wl-clipboard
    pkgs.waybar
    pkgs.deluge
    pkgs.sudo-rs
    pkgs.pavucontrol
    pkgs.ansible
    pkgs.curl
    pkgs.git
    pkgs.google-chrome
    pkgs.neovim
    pkgs.ripgrep
    pkgs.openssh
    pkgs.gcc
    pkgs.gnumake
    pkgs.nodejs_22
    pkgs.jdk22
    pkgs.python3
    pkgs.go
    pkgs.terraform
    pkgs.terragrunt
    pkgs.fish
    pkgs.alacritty
    pkgs.tmux
    pkgs.gitmux
    pkgs.zip
    pkgs.unzip
    pkgs.htop
    pkgs.tree
    pkgs.pre-commit
    pkgs.packer
    pkgs.docker_27
    pkgs.docker-buildx
    pkgs.docker-compose
    pkgs.kubectl
    pkgs.kubernetes-helm
    pkgs.kustomize
  ];

  fonts.packages = with pkgs; [
    pkgs.font-awesome
    pkgs.nerdfonts
  ];

  security.sudo-rs = {
    enable = true;
    wheelNeedsPassword = false;
    execWheelOnly = true;
  };


  programs.fish.enable = true;
  programs.hyprland.enable = true;
  programs.firefox.enable = false;


  services.power-profiles-daemon.enable = true;
  services.openssh.enable = true;
  virtualisation.docker.enable = true;

  services.displayManager.sddm.enable = true;
  services.displayManager.sddm.wayland.enable = true;
  services.desktopManager.plasma6.enable = false;
}
