{{ ansible_managed | comment }}

Section "InputClass"
    Identifier      "mouse"
    Driver          "libinput"
    MatchIsPointer  "yes"
    Option          "AccelSpeed" "-0.5"
    Option          "AccelerationProfile" "-1"
    Option          "NaturalScrolling" "true"
EndSection
